---
title: Home
layout: default
---
 
<h4>Daniel Abbe | ダニエル・アビー</h4>  

<p>Ph.D., Art History<br>
<span class="j-text">美術史博士</span></p>

{% include separator.html %}


<p>I am an art historian living in Kyoto. I research the history of photography, with a focus on phenomenology, the 1970s, and the cultural history of Japan.</p>

<p class="j-text">京都市内に住んでいる美術史家です。写真史を専攻し、現象学、1970年代、そして日本文化史についても研究しています。</p>



{% include separator.html %}



<p class="timestamp">
	The last update to this site was made in {{ site.time | date: "%B %Y" }}. 
</p>