<!doctype html>
<html>
  <head>
   
    {% include header-stuff.html %}


    <title>{{ page.title }}</title>
    <script src="{{ site.baseurl }}/assets/js/jquery-3.6.0.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/isotope.pkgd.js"></script>
    <script src="{{ site.baseurl }}/assets/js/imagesloaded.pkgd.js"></script>
    <script src="{{ site.baseurl }}/assets/js/crumbs.js"></script>

	
  </head>
  <body class="crumbs-page">
    

    <div class="content">
    
      <a href="{{ 'index.html' | relative_url }} ">Home</a><br>
      
      {{ content }}
    
    </div>
  </body>
</html>